<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring board project</title>
    <link th:href="@{/css/bootstrap.css}"
          href="../css/bootstrap.css" rel="stylesheet">
    <style>
        .custom-heading {
            color: #007bff;
            background-color: rgba(255, 255, 255, 0.99);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-start">
        <h1 class="custom-heading font-weight-bold">Spring board project <small class="text-light-emphasis">by MoonWonKi</small></h1>
    </div>

    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="author">작성자</label>
            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
        </div>
        <div class="form-group">
            <label for="content">글 내용</label>
            <textarea class="form-control" id="content" rows="5" placeholder="글 내용을 입력하세요"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary float-end">작성</button>
    </form>
</div>
</body>
</html>