<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring board project</title>
    <link th:href="@{../css/bootstrap.css}"
          href="../css/bootstrap.css" rel="stylesheet">
    <style>
        .custom-heading {
            color: #007bff;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }

        .custom-border {
            border: 2px solid #000000;
            box-shadow: 0px 0px 5px #444;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Spring Board Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/boards}">Boards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contributor}">Contributor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h3 class="custom-heading font-weight-bold">Spring board project <small class="text-light-emphasis">by MoonWonKi</small></h3>
    </nav>
    <br/>

    <div class="card custom-border">
        <div class="card-body">
            <h2 class="card-title" th:text="${board.title}">제목</h2>

            <div class="d-flex flex-row-reverse">
                <div>
                    <small class="text-muted" th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm')}">작성일자</small>
                    <small class="text-muted">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</small>
                    <small class="text-muted" th:text="${board.nickname}">작성자</small>
                </div>
            </div>
            <hr>
            <div class="card-text" style="white-space:pre-wrap" th:text="${board.content}">글의 내용이 깔끔하게 보여지는 부분입니다.</div>
            <hr>
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-outline-success" th:href="'/board/recommend/' + ${board.id}">추천!</a>
                    <div class="btn btn-outline-success" style="width: auto;" th:text="${board.recommendCount}">추천수!</div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-end">
        <form th:action="'/board/' + ${board.id}" th:method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger" th:if="${owner}">삭제하기</button>
        </form>
        <a type="button" class="btn btn-dark" th:href="@{/boards}">메뉴로</a>
        <a type="button" class="btn btn-warning" th:href="@{'/board/update/' + ${board.id}}" th:if="${owner}">수정하기</a>
    </div>

    <br/>
    <table class="table table-responsive">
        <tbody>
        <tr th:each="comment : ${comments}">
            <td>
                <div class="d-flex justify-content-between">
                    <div>
                        <strong th:text="${comment.nickname}">작성자</strong>
                        <small th:text="${#temporals.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">작성 시간</small>
                    </div>
                    <div>
                        <form th:action="'/board/comment/' + ${board.id} +'/'+ ${comment.id}" th:method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="btn btn-link btn-sm text-muted">삭제</button>
                        </form>
                    </div>
                </div>
                <div style="white-space:pre-wrap" th:text="${comment.content}">댓글 내용</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{'/board/comment/' + ${board.id}}" th:method="post">
            <div class="form-group">
                <textarea class="form-control" rows="3" name="content" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">댓글 작성</button>
            </div>
        </form>
    </div>

</div>


</body>
</html>