<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring board project</title>
    <link th:href="@{/css/bootstrap.css}"
          href="../css/bootstrap.css" rel="stylesheet">
    <style>
        .custom-heading {
            color: #007bff;
            background-color: rgba(255, 255, 255, 0.99);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-start">
        <h1 class="custom-heading font-weight-bold">Spring board project <small class="text-light-emphasis">by MoonWonKi</small></h1>
    </div>

    <form th:action="@{/create}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name=title placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="author">작성자</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="작성자를 입력하세요">
        </div>
        <div class="form-group">
            <label for="content">글 내용</label>
            <textarea onkeyup="counter();" class="form-control" id="content" rows="5" name="content" placeholder="글 내용을 입력하세요"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary float-end">작성</button>
    </form>
    <span id="count">(0/225)</span>
</div>
<script>
    function counter() {
        var contentText = document.getElementById('content').value;
        if (contentText.length > 225){
            contentText = contentText.substring(0,225);
            document.getElementById('content').value = contentText;
        }
        document.getElementById('count').innerHTML = '(' + contentText.length + '/225)';
    }
    counter();
</script>
</body>
</html>