<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link th:href="@{/css/bootstrap.css}"
        href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form th:action="@{/loginPage}" th:method="post">
            <div class="mb-3 text-danger" th:if="${param.error}">
              <p>잘못된 로그인 시도!</p>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a th:href="@{/register}" class="btn btn-primary">회원가입</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>